.bg_modal {
    width: calc(100% + 6.5rem);
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(20, 18, 18, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal_content {
        max-width: 20rem;
        width: 100%;
        background-color: var(--bg-secondary);
        border-radius: 1rem;
        text-align: center;
        padding: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        
        .header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.5rem;
            padding-top: 0.5rem;
        }

        .about {
            .info {
                height: 1.5rem;
                overflow: hidden;
                padding: 0 .8rem;
                text-align: left;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;

            .inputBox {
                width: 90%;
                position: relative;

                input,
                select {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    border: 0;
                    background: transparent;
                    outline: none;

                    font-size: 0.975rem;
                    color: var(--subtitle);
                }

                .bottom {
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    border-radius: 1rem;
                    background: #3337;
                    transition: all 0.3s ease;
                }

                select {
                    padding-left: 0.7rem;
                }

                button {
                    border: none;
                    background: transparent;
                    height: 100%;
                    font-size: 0.975rem;
                    font-weight: 500;
                    letter-spacing: 1px;

                    cursor: pointer;
                    transition: all 0.5s ease;
                }

                button:hover {
                    color: var(--purple-100);
                }

                button::before {
                    content: '';
                    width: 75%;
                    height: 1px;
                    background: var(--purple-100);
                    position: absolute;
                    bottom: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.5s ease;
                }

                button:hover::before {
                    transform: scaleX(1);
                }
            
                .submit {
                    background: var(--green);
                    color: var(--bg-secondary);
                    letter-spacing: 1px;
                    border-radius: 0.4rem;
                    box-shadow: 0 5px 10px rgba(20, 18, 18, 0.2);
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .submit:hover {
                    background: var(--green-hover);
                }

                .cancel {
                    width: 100%;
                    padding: 0.5rem 0;
                    letter-spacing: 1px;
                    border-radius: 0.4rem;
                    box-shadow: 0 5px 10px rgba(20, 18, 18, 0.2);
                    transition: all 0.3s ease;
                }

                .cancel::before {
                    width: 0;
                }

                .cancel:hover {
                    background: var(--red);
                    color: var(--bg-secondary);
                }
            }
        }
}}