.bg_modal {
    width: calc(100% + 6.5rem);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 10px rgba(20, 18, 18, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal_content {
        max-width: 40rem;
        width: 100%;
        background-color: var(--bg-secondary);
        border-radius: 1rem;
        text-align: center;
        padding: 20px;
        position: relative;
    
        .header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.5rem;

            .box_close {
                width: 1.5rem;
                height: 1.5rem;
                position: relative;
                cursor: pointer;

                :first-child {
                    transform: rotate(45deg);
                }

                :last-child {
                    transform: rotate(-45deg);
                }

                .close {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: black;
                    top: 50%;
                    transition: background 0.3s;
                }
            }

            .box_close:hover {
                .close {
                    background: var(--purple-100);
                }
            }
        }

        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: start;
            row-gap: 1rem;
            padding: 1rem 1rem;
            width: 100%;

            .inputBox {
                width: 90%;
                position: relative;

                input,
                select {
                    width: 100%;
                    padding: 0.5rem 1rem;
                    border: 0;
                    background: transparent;
                    outline: none;

                    font-size: 0.975rem;
                    color: var(--subtitle);
                }

                input {
                    padding-right: 1.8rem;
                }

                .bottom {
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    border-radius: 1rem;
                    background: #3337;
                    transition: all 0.3s ease;
                }

                select {
                    padding-left: 0.7rem;
                }

                button {
                    border: none;
                    background: transparent;
                    height: 100%;
                    position: absolute;
                    left: 0;

                    font-size: 0.975rem;
                    font-weight: 500;
                    letter-spacing: 1px;

                    cursor: pointer;
                    transition: all 0.5s ease;
                }

                button:hover {
                    color: var(--purple-100);
                }

                button::before {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: var(--purple-100);
                    position: absolute;
                    bottom: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.5s ease;
                }

                button:hover::before {
                    transform: scaleX(1);
                }
            
                .submit {
                    background: var(--green);
                    color: var(--bg-secondary);
                    letter-spacing: 1px;
                    border-radius: 0.4rem;
                    box-shadow: 0 5px 10px rgba(20, 18, 18, 0.2);
                    cursor: pointer;
                    transition: all 0.3s ease;
                }

                .submit:hover {
                    background: var(--green-hover);
                }

                input:focus ~ .bottom,
                input:valid ~ .bottom {
                    background: var(--green);
                    height: 1.5px;
                }

                label {
                    position: absolute;
                    right: 0.5rem;
                    bottom: 0.1rem;
                    transition: all .3s ease;
                    opacity: 0;

                    .icon {
                        color: var(--green);
                    }
                }

                input:valid ~ label {
                    opacity: 100;
                }
            }
        }

        span {
            float: left;
            font-size: 0.9rem;
            color: var(--subtitle);
        }
}}

@media screen and (max-width: 800px) {
    .bg_modal {
        left: 0;

        .modal_content {
            max-width: calc(100% - 4rem);
            padding: 1rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 0;
            position: fixed;
            left: 4rem;

            form {
                grid-template-columns: 1fr;
                height: 60%;

                .inputBox button {
                    position: relative;
                }

                .inputBox {
                    width: 100%;
                }

                .isAdmin {
                    width: 28rem;
                }
            }
        }
    }
}