.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 4rem;
    background: #11101d;
    padding: 1rem 0.5rem;
    transition: all 0.5s ease;
}

.sidebar.active {
   width: 16rem;
}

.sidebar .logo_content .logo {
   color: #fff;
   display: flex;
   height: 50px;
   width: 100%;
   align-items: center;
   opacity: 0;
}

.sidebar.active .logo_content .logo {
   opacity: 1;
}

.logo_content .logo .logo_icon {
   font-size: 1.5rem;
   margin-right: 5px;
}

.logo_content .logo .logo_name {
   font-size: 1.2rem;
   font-weight: 600;
    text-transform: uppercase;
}

.sidebar .menu {
    position: absolute;

    height: 1.25rem;
    width: 1.5rem;
    // background: red;
    left: 30%;
    top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.sidebar .menu .burger {
    height: 0.15rem;
    width: 100%;
    background: var(--bg-secondary);
    transition: all 0.3s ease;
}

.sidebar.active .menu:hover .burger:nth-child(2) {
    transform: translateX(50%);
}

.sidebar.active .menu:hover .burger:nth-child(3) {
    transform: translateX(50%);
}

.sidebar.active .menu {
    left: 80%;
}

.sidebar.active .menu .burger:nth-child(2) {
    width: 75%;
}

.sidebar.active .menu .burger:nth-child(3) {
    width: 50%;
}

.sidebar ul {
   margin-top: 20px;
}

.sidebar ul li {
   position: relative;
   height: 3.5rem;
   width: 100%;
   margin: 0 0.28rem;
   list-style: none;
   line-height: 3rem;

   cursor: pointer;
}

.sidebar ul li .tooltip,
.profile .tooltip {
   position: absolute;
   left: 10.5rem;
   top: 0;
   transform: translate(-50%, -50%);
   border-radius: 0.4rem;
   height: 2.5rem;
   width: 14rem;
   background: var(--bg-secondary);
   text-align: center;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
   transition: 0s;
   opacity: 0;
   pointer-events: none;
   display: block;

   font-weight: 500;
}

.sidebar.active ul li .tooltip {
   display: none;
}

.sidebar ul li:hover .tooltip,
.profile .logout:hover ~ .tooltip {
   opacity: 1;
   transition: all 0.5s ease;
   top: 50%;
}

.sidebar ul li a {
   padding: 0 0.5rem;
   color: var(--bg-secondary);
   display: flex;
   align-items: center;
   text-decoration: none;
   transition: all 0.3s ease;
   border-radius: 12px;
   white-space: nowrap;
}

.sidebar.active ul li a:hover {
    color: var(--bg);
    background: var(--bg-secondary);
}

.sidebar ul li .icons {
   height: 1.25rem;
   min-width: 1.25rem;
}

.sidebar .links_name {
   opacity: 0;
   margin-left: 0.5rem;
   pointer-events: none;
}

.sidebar.active .links_name {
   opacity: 1;
   pointer-events: auto;
}

.sidebar .profile_content {
   position: absolute;
   color: #fff;
   bottom: 0;
   left: 0;
   width: 100%;
}

.sidebar .profile_content .profile {
   position: relative;
   padding: 10px 6px;
   height: 60px;
   background: #1d1b31;
}

.profile_content .profile .profile_details {
   display: flex;
   align-items: center;
   opacity: 0;
   pointer-events: none;
   white-space: nowrap;
}

.sidebar.active .profile .profile_details {
   opacity: 1;
   pointer-events: auto;
}

.profile .profile_details .user {
   height: 1.25rem;
   width: 1.25rem;
   object-fit: cover;
   border-radius: 12px;
}

.profile .profile_details .name_job {
   margin-left: 10px;
}

.profile .profile_details .name {
   font-size: 15px;
   font-weight: 400;
}

.profile .profile_details .job {
   font-size: 12px;
}

.profile .logout {
   position: absolute;
   bottom: 1.2rem;
   left: 50%;
   transform: translateX(-50%);
   min-width: 3rem;
   line-height: 3rem;
   font-size: 1.25rem;
   border-radius: 12px;
   text-align: center;
   cursor: pointer;
}

.sidebar.active .profile .logout {
   left: 88%;
}

.sidebar .profile .tooltip {
   width: 5rem;
   
   left: 7.5rem;

   font-weight: 500;
   color: var(--bg);

   background: var(--bg-secondary);
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.sidebar.active .profile .tooltip {
   display: flex;
   left: 19rem;
}

.sidebar .optics_settings {
   display: none;
}

.sidebar.active .optics_settings {
   display: flex;
   flex-direction: column;

   color: var(--bg-secondary);
}