/* Table Styles */

.table_wrapper{
    margin: 10px 10px 70px 0;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    overflow-x: scroll;
}

.table_wrapper h3 {
    margin-bottom: 0.5rem;
}

.table_wrapper::-webkit-scrollbar {
    height: 8px;
    background: var(--bg);
}

.table_wrapper::-webkit-scrollbar-thumb:horizontal {
    background: var(--title);
    border-radius: 8px 8px 8px 8px;
}

.fl_table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl_table td, .fl_table th {
    text-align: center;
    padding: 8px;
}

.fl_table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl_table thead th {
    color: #ffffff;
    background: var(--bg);
}


.fl_table thead th:nth-child(odd) {
    color: #ffffff;
    background: var(--bg);
}

.fl_table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl_table {
        display: block;
        width: 100%;
    }
    .table_wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        // color: white;
        padding: 0 0 10px;
    }
    .fl_table thead, .fl_table tbody, .fl_table thead th {
        display: block;
    }
    .fl_table thead th:last-child{
        border-bottom: none;
    }
    .fl_table thead {
        position: absolute;
        z-index: 99;
        float: left;
    }
    .fl_table tbody {
        width: 100%;
        padding-left: 120px;
        position: relative;
        overflow-x: auto;
    }
    .fl_table td, .fl_table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl_table td {
        width: 268px;
    }
    .fl_table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl_table tbody tr {
        display: table-cell;
    }
    .fl_table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl_table tr:nth-child(even) {
        background: transparent;
    }
    .fl_table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl_table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl_table tbody td {
        display: block;
        text-align: center;
    }
}