* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg: #110425;
    --bg-secondary: #F8F8F5;

    --title: #3C0E81;
    --subtitle: #333333;

    --gray-50: #F7F8FA;
    --gray-100: #E6E8EB;
    --gray-200: #AFB2B1;
    --gray-500: #808080;
    --gray-800: #494D4B;

    --purple-100: #5E16CA;
    --purple-500: #1A0637;

    --purple-300: #9F75FF;
    --purple-400: #9164FA; 
    --purple-600: #a19eaa;
    --purple-800: #6F48C9;

    --red: #D01137;
    --red-hover: #BD0F32;
    --red-focus: #AA0E2D;
    --green: #21832C;
    --green-hover: #1D7227;
    --blue: #005CC8;
}

body {
    position: relative;
    background: var(--bg-secondary);
    overflow-x: hidden !important;
}

body::-webkit-scrollbar {
    width: 8px;
    background: var(--bg);
}

body::-webkit-scrollbar-thumb {
    background: var(--title);
    border-radius: 8px 0 0 8px;
}

body, input, textarea, button {
    color: var(--subtitle);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--bg);  
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

button {
    cursor: pointer;
}
