.container {
    min-height: 100vh;
    width: 100%;

    background: var(--bg-secondary);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container .logo {
    margin-right: 10rem;
}

.container .logo img {
    height: 10rem;
}

.login {
    max-width: 28rem;
    width: 100%;
    // height: 31rem;
    height: 100%;

    background: var(--bg-secondary);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    border-radius: 1rem;
    padding: 32px;
}

.login .user {
    margin: 2rem 0;
}

.login h2 {
    color: var(--title);
}

.login .user strong {
    cursor: pointer;
    transition: all 0.3s ease;
}

.login .user strong:hover {
    color: var(--bg);
}

.login form .inputBox {
    height: 3.25rem;
    margin: 1.5rem 0;
    position: relative;
}

.inputBox input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    border: 1.5px solid var(--subtitle);
    border-bottom-width: 2.5px;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
}

.inputBox input:focus,
.inputBox input:valid {
    border-color: var(--title);
}

.inputBox.button input {
    border: none;
    background: var(--bg);
    color: var(--bg-secondary);
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;

    margin-top: 1.5rem;
}

.inputBox.button input:hover {
    background: var(--title);
}

.inputBox .warning {
    font-size: 0.8rem;
    position: relative;
    margin-top: 0.25rem;
}

.inputBox .warning strong {
    margin-left: 1rem;
}

.inputBox .isword {
    color: var(--red);
}

.inputBox .isword::after {
    content: '';
    height: 0.625rem;
    width: 0.625rem;
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    border-radius: 100%;

    background: var(--red);
}

.inputBox .capslock {
    color: var(--green);
}

.inputBox .capslock::after {
    content: '';
    height: 0.625rem;
    width: 0.625rem;
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    border-radius: 100%;

    background: var(--green);
}

.container .footer {
    position: absolute;
    bottom: 0rem;
    width: 100%;
    opacity: 0.7;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    color: var(--bg);
    font-size: 0.8rem;
    font-weight: 600;

    pointer-events: none;
}

.container .footer img {
    height: 5rem;
}

.bg_modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.bg_modal.active {
    display: flex;
}

.bg_modal .modal_content {
    width: 15rem;
    height: 6rem;
    border-radius: 1rem;
    text-align: center;
    padding: 20px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_modal .modal_content .loader {
    animation: is-rotating 1s infinite;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}


@media screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .container .logo {
        margin-right: 0;
    }

    .container .logo img {
        height: 5rem;
    }

    .container .logo img:hover {
        transform: translateX(0);
    }
}