// .container {
//     height: 100%;
    
//     .users {
//         display: flex;
//         flex-direction: column;
//         row-gap: 2rem;

//         .workers {
//             display: flex;
//             flex-direction: column;
//             row-gap: 1rem;
//             max-width: 60rem;

//             table {
//                 width: 100%;

//                 tbody {
//                     tr {

//                         :nth-child(2) {
//                             width: 12rem;
//                             pointer-events: all;
//                             cursor: pointer;
                            
//                             .email {
//                                 width: 12rem;
//                                 overflow: hidden;
//                             }

//                             .tooltip {
//                                 position: absolute;
//                                 top: -1rem;
//                                 width: fit-content;
//                                 background: var(--bg-secondary);
//                                 padding: 0.5rem 1em;
//                                 border-radius: 0.4rem;
//                                 box-shadow: 0 5px 10px rgba(20, 18, 18, 0.2);
//                                 display: none;

//                                 span {
//                                     font-size: 0.9rem;
//                                     font-weight: 500;
//                                 }
//                             }
//                         }

//                         :nth-child(2):hover {
//                             .tooltip {
//                                 display: block;
//                             }
//                         }

//                         td:nth-child(5) {
//                             text-align: center;
//                         }

//                         :nth-child(6) {
//                             position: relative;
//                             display: flex;
//                             align-items: center;
//                             justify-content: center;
//                             pointer-events: all;
//                             cursor: pointer;
                            
//                             .box_close {
//                                 width: 1rem;
//                                 height: 1rem;
//                                 position: relative;
                            
//                                 .close {
//                                     position: absolute;
//                                     top: 50%;
//                                     width: 100%;
//                                     height: 2px;
//                                     background: var(--subtitle);
//                                 }

//                                 :nth-child(1) {
//                                     transform: rotate(45deg);
//                                 }

//                                 :nth-child(2) {
//                                     transform: rotate(-45deg);
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }

//         .managers {
//             display: flex;
//             flex-direction: column;
//             row-gap: 1rem;

//             table {
//                 max-width: 45rem;

//                 tr {
//                     :nth-child(3) {
//                         width: 9rem;
//                     }
//                 }

//                 tbody {
//                     tr {
//                         :nth-child(5) {
//                             position: relative;
//                             display: flex;
//                             align-items: center;
//                             justify-content: center;
//                             pointer-events: all;
//                             cursor: pointer;
                            
//                             .box_close {
//                                 width: 1rem;
//                                 height: 1rem;
//                                 position: relative;
//                                 // background: var(--red);
                            
//                                 .close {
//                                     position: absolute;
//                                     top: 50%;
//                                     width: 100%;
//                                     height: 2px;
//                                     background: var(--subtitle);
//                                 }

//                                 :nth-child(1) {
//                                     transform: rotate(45deg);
//                                 }

//                                 :nth-child(2) {
//                                     transform: rotate(-45deg);
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }

//         .button {
//             width: 16rem;

//             button {
//                 width: 100%;
//                 padding: 0.5rem 0;
//                 border: none;
//                 border-radius: 0.4rem;
//                 background: var(--purple-100);
//                 box-shadow: 0 5px 10px rgba(20, 18, 18, 0.2);

//                 font-size: 1rem;
//                 color: var(--bg-secondary);
//                 font-weight: 500;
//                 letter-spacing: 1px;
//                 transition: all 0.3s ease;
//             }

//             button:hover {
//                 background: var(--title);
//             }
//         }

//         table {
//             width: 100%;
//             text-align: left;
//             pointer-events: none;

//             thead {
//                 text-transform: uppercase;
//             }

//             th {
//                 padding: 0rem 0.5rem;
//             }

//             tbody {
//                 font-size: 0.9rem;

//                 tr {
//                     position: relative;
//                 }

//                 td {
//                     padding: 0.5rem 0.5rem;
//                 }

//                 tr::after {
//                     content: "";
//                     width: 100%;
//                     height: 2px;
//                     box-shadow: 0 1px 1px rgba(3, 3, 3, 0.3);
//                     border-radius: 8px;

//                     position: absolute;
//                     left: 0;
//                     bottom: 0;
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: 850px) {
//     .container {
//         // left: 4.5rem;
//         // width: calc(100% - 4.5rem);

//         table {
//             width: 100%;
//         }

//         thead {
//             display: none;
//         }

//         tbody tr::after {
//             display: none;
//         }
    
//         td {
//             display: block;
            
//             .icon {
//                 display: none;
//             }
//         }
    
//         .workers {
//             td:first-child::before {
//                 content: "Nome"
//             }

//             td:nth-child(2) {
//                 min-width: 100%;

//                 span {
//                     text-align: right;
//                 }
//             }

//             td:nth-child(2) {
//                 display: flex;
//                 justify-content: space-between;
//                 column-gap: 1rem;
//                 overflow: hidden;
//                 height: 2rem;
//             }
        
//             td:nth-child(2)::before {
//                 content: "Email";
//             }
        
//             td:nth-child(3)::before {
//                 content: "CPF";
//             }
        
//             td:nth-child(4)::before {
//                 content: "Telefone";
//                 color: #333;
//             }

//             td:nth-child(5) {
//                 text-align: right !important;
//             }
        
//             td:nth-child(5)::before {
//                 content: "Vendas";
//             }
    
//             td:nth-child(6)::before {
//                 content: "Cargo";
//             } 

//             td:nth-child(7) {
//                 padding: 0.5rem 0;
//                 background: var(--red);
//                 border-radius: 0.5rem;

//                 .box_close {
//                     display: none;
//                 }
//             }

//             td:nth-child(7)::before {
//                 content: "Remover";
//                 letter-spacing: 1px;
//                 color: var(--bg-secondary);
//             }

//             td:nth-child(7):hover {
//                 background: var(--red-hover);
//             }
//         }

//         .managers {
//             td:first-child::before {
//                 content: "Nome"
//             }

//             td:nth-child(2) {
//                 min-width: 100%;

//                 span {
//                     text-align: right;
//                 }
//             }

//             td:nth-child(2) {
//                 display: flex;
//                 justify-content: space-between;
//                 column-gap: 1rem;
//                 overflow: hidden;
//                 height: 2rem;
//             }
        
//             td:nth-child(2)::before {
//                 content: "Email";
//             }

//             td:nth-child(3) {
//                 min-width: 100%;
//             }
        
//             td:nth-child(3)::before {
//                 content: "CPF";
//             }
        
//             td:nth-child(4)::before {
//                 content: "Telefone";
//                 color: #333;
//             }

//             td:nth-child(5) {
//                 padding: 0.5rem 0;
//                 background: var(--red);
//                 border-radius: 0.5rem;

//                 .box_close {
//                     display: none;
//                 }
//             }

//             td:nth-child(5)::before {
//                 content: "Remover";
//                 letter-spacing: 1px;
//                 color: var(--bg-secondary);
//             }

//             td:nth-child(5):hover {
//                 background: var(--red-hover);
//             }
//         }

//         td {
//             text-align: right;
//         }
    
//         td::before {
//             float: left;
//             font-weight: bold;
//         }
//     }        
// }
